/* ##############################
            GENERALS */

li, p, a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

body {
    overflow-x: hidden;
}

#grid-inner {
    max-width: 1920px;
    margin: 0 auto;
}

.blue {
    color: #5CABD1;
}

.button {
    padding: 10px 20px;
    background-color: #138dd8;
    color: white;
    border-radius: 3px;
    box-shadow: 0 3px #1768d8;
    font-family: "Roboto", sans-serif;
}

.circle {
    display: inline-block;
    margin: 0 10px;
    height: 20px;
    width: 20px;
    background-color: #5CABD1;
    border-radius: 50%;
    vertical-align: center;
    
}

hr {
    display: inline-block;
    width: 90px;
    border: none;
    height: 1px;
    background-color: gray;
}

i {
    font-size: 2em;
}

.icon-div:nth-child(5) i {
    font-size: 1.88em;
}

.blue-white-circle {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(92,171,209,1) 0%, rgba(92,171,209,1) 47%, rgba(92,171,209,1) 48%, rgba(113,206,239,1) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 100%);
    bottom: 58px;
    left: 12px;
}



/* ##############################
            NAVBAR */

header {
    height: 95px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    min-height: 95px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

nav ol {
    display: flex;
    justify-content: space-around; 
}

.nav-link {
    margin-right: 30px;
    color: black;
    padding-top: 35px;
}

.nav-link:hover {
    border-top: 3px solid dodgerblue;
}






/* ##############################
        WELCOME SECTION */

#welcome {
    position: relative;
    height: 550px;
    max-width: 1920px;
    background-image: url(../images/slider/bg1.jpg);
    background-position-x: 45%;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
}

#welcome-description {
    margin-left: 7%;
    max-width: 680px;
}

#welcome-description h2 {
    font-size: 2.4em;
}

#welcome-description a {
    display: inline-block;
    margin-top: 30px;
    font-size: 1.1em;
}

.welc-icon {
    position: absolute;
    border-radius: 50%;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#left-arrow {
    position: relative;
    left: 20px;
}

.first-arrow {
    left: -3rem;
}

#right-arrow {
    position: relative;
    right: 20px;
}

.second-arrow {
    right: -3rem;
}



/* ##############################
        SERVICES SECTION */

#services header{
    text-align: center;
}

#services header h2 {
    font-size: 2.4em;
    margin: 55px 0 18px 0;
}

#services-content {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 90px;
}

#services-img {
    min-width: 50%;
    flex: 1;
    text-align: center;
    align-self: center;
}

#services-text {
    flex: 1 0 510px;
    display: flex;
    flex-wrap: wrap;
}

.icon-div {
    width: 80px;
    align-self: center;
    height: 80px;
    margin: 0 auto;
}

.icon-div i {
    padding: 15px;
    border-radius: 50%;
    border: 1px solid gray;
}

.serv-div {
    width: 85%;
    margin-bottom: 20px;
}

.serv-div h3 {
    margin: 0;
}






/* ##############################
        PROJECTS SECTION */

#projects {
    background-color: #f5f5f5;
}

#projects div {
    text-align: center;
}

#projects div h2 {
    font-size: 2.4em;
    margin: 55px 0 18px 0;
    padding-top: 20px;
}

#buttons-div {
    max-width: 350px;
    margin: 35px auto;
    display: flex;
    justify-content: space-around;
    background-color: #e5e5e5;
    border-radius: 6px;
}

.proj-link {
    color: black;
    padding: 15px 0;
    flex: 1;
    position: relative;
}

.proj-link:nth-child(1) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.proj-link:nth-last-child(1) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.proj-link:hover {
    color: white;
    background-color: #138dd8;
    border-bottom: 3px solid #1768d8;
    padding-bottom: 12px;
}

.proj-link:hover::after {
    content: "";
    width: 0;
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #1768d8;
    top: 105%;
    right: 37%;
}

/* PROJECTS IMAGES */   

#proj-main {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proj-img {
    min-width: 280px;
    max-width: 450px;
    margin-top: 5px;
    margin-bottom: -40px;
}

.proj-img img {
    width: 100%;
}

.legend {
    position: relative;
    display: inline-block;
    bottom: 88px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
}

.legend h3, .legend p {
    text-align: left;
    padding-left: 10%;
    font-size: 1em;
    color: white;
}

.legend a {
    position: absolute;
    bottom: 76%;
    left: 85%;
}

.legend i {
    padding: 12px;
    border-radius: 50%;
    color: white;
    font-size: 0.8em;
    background-color: #138dd8;
    border: 2px solid white;
    
}

.proj-img:hover .legend{
    visibility: visible;
}





/* ##############################
        CONTACT SECTION */

#contact header {
    text-align: center;
}

#contact header h2 {
    font-size: 2.4em;
    margin: 55px 0 18px 0;
}

#map-div {
    position: relative;
    margin-top: 95px;
    height: 650px;
    width: 100%;
    background-color: dodgerblue;
}

iframe {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

iframe:hover {
    opacity: 1;
}

#map-div form {
    position: absolute;
    bottom: 8%;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 60%;
    padding-left: 20px;
}

#email, #name, #subject, textarea{
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

#email, #name, #subject {
    height: 30px;
}

textarea {
    height: 95px;
}

#submit {
    padding: 5px 10px;
    margin-bottom: 15px;
}





/* ##############################
        MEDIA QUERIES */

@media screen and (max-width:768px) {
    
    /* GENERALS */
    
    li a {
        font-size: 0.94em;
    }
    
    /* Navbar*/
    
    nav ol {
        width: 100%;
        padding: 0;
    }
    
    .nav-link {
        margin-right: 0;
    }
    
    #nav-img {
        display: none;
    }
    
    /* WELCOME SECTION */
    
    #welcome-description {
        justify-self: center;
        text-align: center;
    }
    
    .welc-icon {
        display: none;
    }
    
    /* SERVICES SECTION */
    
    .serv-div {
        width: 96%;
        padding: 0 4%;
        text-align: center;
    }
    
    #services-img img {
        height: 210px;
    }
    
    #services-text {
        width: 100%;
        flex-basis: auto;
    }
    
    /* CONTACT SECTION */
    
    #map-div {
        margin-top: 110px;
    }
    
    #map-div form {
        margin-left: calc(50% - 175px);
    }
}
