/* ##############################
            GENERALS */

li, p, a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

body {
    overflow-x: hidden;
}

#grid-inner {
    max-width: 1600px;
    margin: 0 auto;
}




/* ##############################
            NAVBAR */

header {
    height: 95px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    min-height: 95px;
    position: fixed;
    top: 0;
}

nav ol {
    display: flex;
    justify-content: space-around; 
}

.nav-link {
    margin-right: 30px;
    color: black;
    padding-top: 35px;
}

.nav-link:hover {
    border-top: 3px solid dodgerblue;
}






/* ##############################
        WELCOME SECTION */

#welcome {
    height: 550px;
    background-image: url(../images/slider/bg1.jpg);
    background-position-x: 62%;
}







/* ##############################
        MEDIA QUERIES */

@media screen and (max-width:768px) {
    
    /* Navbar*/
    
    nav ol {
        width: 100%;
        padding: 0;
    }
    
    .nav-link {
        margin-right: 0;
    }
    
    #nav-img {
        display: none;
    }
    
    /* WELCOME SECTION */
    
    
}